<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.profesores.CREAR">CREAR PROFESORES</h1>
            <span class="mainDescription">Formulario para crear Profesores.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="editarProfesorCtrl2">
            <form id="Form" name="Form" novalidate ng-submit="form.submit(Form)">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Profesor
                            </legend>
                            <div class="form-group" ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
                                <label for="codigo" class="control-label">
                                    C&oacute;digo <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Código" id="codigo" name="codigo" class="form-control" ng-model="profesor.codigo" required/>
                                <span class="error text-small block" ng-if="Form.codigo.$dirty && Form.codigo.$dirty && Form.codigo.$invalid">El campo codigo es requerido</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
                                <label for="nombre" class="control-label">
                                    Nombre Profesor <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Nombre Profesor" id="nombre" name="nombre"  class="form-control" ng-model="profesor.nombre" required/>
                                <span class="error text-small block" ng-if="Form.nombre.$dirty && Form.nombre.$dirty && Form.nombre.$invalid">El campo nombre es requerido</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form.facultad.$dirty && Form.facultad.$invalid, 'has-success':Form.facultad.$valid}">
                                <label for="facultad" class="control-label">
                                    Facultad <span class="symbol required"></span>
                                </label>
                                <select id="facultad" name="facultad" class="form-control" ng-model="profesor.facultad.idfacultad" ng-options="facultad.idfacultad as facultad.facultad for facultad in facultades"  required>
                                    <option value="">&nbsp;</option>
                                </select>
                                <span class="error text-small block" ng-if="Form.facultad.$dirty && Form.facultad.$dirty && Form.facultad.$invalid">El campo facultad es requerido</span>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button class="btn btn-o btn-primary" type="submit">
                    Editar Profesor
                </button>   
                <button type="button" class="btn btn-primary btn-o" ng-click="form.reset(Form)">
                    Resetear
                </button>
            </form>
        </div>
    </div>
</div>
<!-- end: FIELDSET -->
