<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
">
    <context:annotation-config/>
    <context:component-scan base-package="naval.presentacion" />

    <bean class="com.naval.persistencia.hibernate.HibernateUtil" factory-method="getSessionFactory"  />
    <bean class="naval.persistencia.dao.impl.AulaDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.EdificioDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.ProfesorDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.FacultadDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.CursoDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.DiasDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.HoraDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.HorarioDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.MantenimientoDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.SolicitudDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.UsuarioDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.RolDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.PermisosDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.ProgramaDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.AsignaturaDAOImplHibernate" />
    <bean class="naval.persistencia.dao.impl.JsonTransformerImplJackson" /> 
</beans>