<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.cursos.CREAR2">CREAR CURSOS</h1>
            <span class="mainDescription">Formulario para crear varios cursos de un mismo periodo académico rápidamente.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="crearCursoPCtrl">
            <form name="Form2" novalidate ng-submit="form.submit(Form2)">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Periodo
                            </legend>
                            <div class="form-group" ng-class="{'has-error':Form2.anio.$dirty && Form2.anio.$invalid, 'has-success':Form2.anio.$valid}">
                                <label for="anio" class="control-label">
                                    A&nacute;o <span class="symbol required"></span>
                                </label>
                                <input type="number" placeholder="Año" id="anio" name="anio" class="form-control" ng-model="curso.anio" ng-pattern="/^[0-9]*$/" required/>
                                <span class="error text-small block" ng-if="Form2.anio.$error.number">A&nacute;o no valido!</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form2.periodo.$dirty && Form2.periodo.$invalid, 'has-success':Form2.periodo.$valid}">
                                <label for="periodo">
                                    Periodo <span class="symbol required"></span>
                                </label>
                                <select id="periodo"  name="periodo" class="form-control" ng-model="curso.periodo" required>
                                    <option value="">&nbsp;</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span class="error text-small block" ng-if="Form2.periodo.$dirty && Form2.periodo.$dirty && Form2.periodo.$invalid">El campo periodo es requerido</span>  
                            </div>
                        </fieldset>
                    </div>


                </div>
                <button class="btn btn-o btn-primary" type="submit">
                    Crear Cursos
                </button>   
                <button type="button" class="btn btn-primary btn-o" ng-click="form.reset(Form2)">
                    Resetear
                </button>
            </form>
        </div>
    </div>
</div>
<!-- end: FIELDSET -->

