<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.cursos.EDITAR">EDITAR CURSO</h1>
            <span class="mainDescription">Formulario para editar Curso.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="editarCursoCtrl2">
            <form name="Form" novalidate ng-submit="form.submit(Form)">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Cursos
                            </legend>
                            <div class="form-group" ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
                                <label for="codigo" class="control-label">
                                    Codigo Curso <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Codigo Curso" id="codigo" name="codigo" class="form-control" ng-model="curso.codigo" required/>
                                <span class="error text-small block" ng-if="Form.codigo.$dirty && Form.codigo.$dirty && Form.codigo.$invalid">El campo codigo es requerido</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form.numeroEstudiantes.$dirty && Form.numeroEstudiantes.$invalid, 'has-success':Form.numeroEstudiantes.$valid}">
                                <label for="numeroEstudiantes" class="control-label">
                                    N° de Estudiantes <span class="symbol required"></span>
                                </label>
                                <input type="number" placeholder="N° de Estudiantes" id="numeroEstudiantes" name="numeroEstudiantes" class="form-control" ng-model="curso.numeroEstudiantes" ng-pattern="/^[0-9]*$/" required/>
                                <span class="error text-small block" ng-if="Form.numeroEstudiantes.$error.number">Numero no valido!</span>
                            </div>
                        </fieldset>
                    </div>


                </div>
                <button class="btn btn-o btn-primary" type="submit">
                    Editar Curso
                </button>   
                <button type="button" class="btn btn-primary btn-o" ng-click="form.reset(Form)">
                    Resetear
                </button>
            </form>
        </div>
    </div>
</div>
<!-- end: FIELDSET -->

