<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.cursos.ESTUDIANTES">Estudiantes</h1>
            <span class="mainDescription">Formulario para agregar rapidamente estudiantes a un curso.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SELECT BOXES -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <h5 class="panel-title">Curso anterior</h5>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="form-field-select-2">
                                    1.1 A
                                </label>
                                <select multiple="multiple" id="form-field-select-2" class="form-control" style="height: 400px;">
                                    <option value="">221710008 - DIANA PATRICIA PADILLA TORRES	</option>
                                    <option value="">221710009 - CARLOS CASTELLAR BARRETO	</option>
                                    <option value="">221710012 - ARTURO GONZALEZ VILLAMIZAR	</option>
                                    <option value="">221710015 - MERLY LIÑAN JARABA	</option>
                                    <option value="">221220022 - LUIS EDUARDO VIVAS RODRIGUEZ	</option>
                                    <option value="">221420019 - ALVARO VEGA YANES	</option>
                                    <option value="">221410052 - JENNIFFER HELENA ALVAREZ PUELLO	</option>
                                    <option value="">221320017 - ELIO ANGEL MARRUGO CANTILLO	</option>
                                    <option value="">221110035 - JOSE ANTONIO TAMARA FUENTES	</option>
                                    <option value="">221510038 - LUIS MIGUEL GUERRA GAMERO	</option>
                                    <option value="">221410002 - ANDRES FELIPE LOPEZ DURAN	</option>
                                    <option value="">221620048 - YOMALIS CARABALLOCHAVEZ	</option>
                                    <option value="">221520013 - SERGIO ANDRES GARCIA BARRIOS	</option>
                                    <option value="">221120007 - JHONATAN URIBE ECHENIQUE	</option>
                                    <option value="">221710021 - CRISTIAN DAVID BARRIOS ESCOBAR	</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title" style="text-align: center">
                                <br/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <label for="form-field-select-2">
                                <br/>
                            </label>
                            <div class="space12">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-wide btn-success" href="javascript:;">
                                        Agregar Estudiante
                                    </a>
                                    <br/>
                                    <a class="btn btn-wide btn-success" href="javascript:;">
                                        Agregar todos los estudiantes
                                    </a>
                                    <br/>
                                    <a class="btn btn-wide btn-danger" href="javascript:;">
                                        Remover Estudiante
                                    </a>
                                    <br/>
                                    <a class="btn btn-wide btn-danger" href="javascript:;">
                                        Remover todos los estudiante
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <h5 class="panel-title">Curso actual</h5>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="form-field-select-2">
                                    1.1 B
                                </label>
                                <select multiple="multiple" id="form-field-select-2" class="form-control" style="height: 400px;">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: SELECT BOXES -->

