<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.cursos.ESTUDIANTES">Estudiantes</h1>
            <span class="mainDescription">Formulario para agregar rapidamente estudiantes a un curso.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SELECT BOXES -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="estudiantesCurso">
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="cursoAnterior">
                                    Curso anterior <span class="symbol required"></span>
                                </label>
                                <select id="cursoAnterior"  name="cursoAnterior" class="form-control" ng-model="cursoAnterior.idcurso" 
                                        ng-options="cursoAnterior.idcurso as cursoAnterior.codigo +   ' (' +  cursoAnterior.anio +  '-' +   cursoAnterior.periodo +  ')' for cursoAnterior in cursosAnteriores">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Estudiantes
                                </label>
                                <select multiple="multiple" class="form-control" ng-model="estudiantesAnterior.codigo" 
                                        ng-options="estudiantesAnterior.codigo as estudiantesAnterior.nombres +   ' ' +  estudiantesAnterior.apellidos for estudiantesAnterior in estudiantesAnteriores"
                                        style="height: 400px;">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title" style="text-align: center">
                                <br/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <label for="form-field-select-2">
                                <br/>
                            </label>
                            <div class="space12">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-wide btn-success" ng-click="agregarEstudiante()">
                                        Agregar Estudiante >
                                    </a>
                                    <br/>
                                    <a class="btn btn-wide btn-success" ng-click="agregarTodos()">
                                        Agregar todos los estudiantes >>
                                    </a>
                                    <br/>
                                    <a class="btn btn-wide btn-danger" ng-click="removerEstudiante()">
                                        <   Remover Estudiante
                                    </a>
                                    <br/>
                                    <a class="btn btn-wide btn-danger" ng-click="removerTodos()">
                                        <<  Remover todos los estudiante
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="cursoActual">
                                    Curso actual <span class="symbol required"></span>
                                </label>
                                <select id="cursoActual"  name="cursoActual" class="form-control" ng-model="cursoActual.idcurso" 
                                        ng-model="cursoActual.idcurso" 
                                        ng-options="cursoActual.idcurso as cursoActual.codigo +   ' (' +  cursoActual.anio +  '-' +   cursoActual.periodo +  ')' for cursoActual in cursosActuales" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Estudiantes
                                </label>
                                <select multiple="multiple" class="form-control" 
                                        ng-model="estudianteActual.codigo" 
                                        ng-options="estudianteActual.codigo as estudianteActual.nombres +   ' ' +  estudianteActual.apellidos for estudianteActual in estudiantesActuales"
                                        style="height: 400px;">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: SELECT BOXES -->

