<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.programas.LISTAR">Lista de Programas</h1>
            <span class="mainDescription">Lista todos las programas registrados en el sistema.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'ngTableCtrl' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
            <div ng-controller="listProgramas">
                <p>
                    Mostrando registros del {{ tableParams.total() > 0 ? (tableParams.page() * tableParams.count()) - (tableParams.count()) + 1 : 0}} 
                    al {{(tableParams.page() * tableParams.count()) < tableParams.total() ? (tableParams.page() * tableParams.count()) : tableParams.total()}} 
                    de un total de {{tableParams.total()}}
                </p>
                <table ng-table="tableParams" class="table table-striped" show-filter="true">
                    <tr ng-repeat="programa in $data">
                        <td ng-switch="{{hasPermiso(30)}}" data-title="'Programa'" sortable="'nombre'" filter="{'nombre': 'text'}">
                            <a ng-switch-when="true" ui-sref="app.programas.editar({idprograma:'{{programa.idprograma}}'})">{{programa.nombre}}</a>
                            <span ng-switch-when="false">{{programa.nombre}}</span>
                        </td>
                        <td data-title="'Nivel de formación'" sortable="'nivelFormacion'" filter="{'nivelFormacion': 'text' }">{{programa.nivelFormacion}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end: SIMPLE TABLE WITH PAGINATION -->

