<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.facultades.LISTAR">Lista de Facultades</h1>
            <span class="mainDescription">Lista todas las facultades registradas en el sistema.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'ngTableCtrl' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
            <div ng-controller="listFacultades">
                <p>
                    Mostrando registros del {{ tableParams.total() > 0 ? (tableParams.page() * tableParams.count()) - (tableParams.count()) + 1 : 0}} 
                    al {{(tableParams.page() * tableParams.count()) < tableParams.total() ? (tableParams.page() * tableParams.count()) : tableParams.total()}} 
                    de un total de {{tableParams.total()}}
                </p>
                <table ng-table="tableParams" class="table table-striped" show-filter="true">
                    <tr ng-repeat="facultad in $data">
                        <td ng-switch="{{hasPermiso(27)}}" data-title="'Facultad'" sortable="'facultad'" filter="{'facultad': 'text'}">
                            <a ng-switch-when="true" ui-sref="app.facultades.editar({idfacultad:'{{facultad.idfacultad}}'})">{{facultad.facultad}}</a>
                            <span ng-switch-when="false">{{facultad.facultad}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end: SIMPLE TABLE WITH PAGINATION -->

