<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.roles.EDITAR">EDITAR ROLES</h1>
            <span class="mainDescription">Formulario para editar Roles.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="editarRolCtrl">
            <form name="Form2" novalidate ng-submit="form.submit(Form2)">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Roles
                            </legend>
                            <div class="form-group" ng-class="{'has-error':Form2.descripcion.$dirty && Form2.descripcion.$invalid, 'has-success':Form2.descripcion.$valid}">
                                <label for="descripcion" class="control-label">
                                    Rol <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Rol" id="descripcion" name="descripcion" class="form-control" ng-model="rol.descripcion" required/>
                                <span class="error text-small block" ng-if="Form2.descripcion.$dirty && Form2.descripcion.$dirty && Form2.descripcion.$invalid">El campo rol es requerido</span>
                            </div>
                            <div class="row">
                                <h5 class="over-title margin-bottom-15">
                                    <span class="text-bold">Asignaci&oacute;n de permisos</span>
                                </h5>
                                <div class="col-md-4">
                                    <div class="checkbox clip-check check-primary" ng-repeat="permiso in permisos" ng-if="$index % 3 === 0">
                                        <input type="checkbox" id="checkbox{{permiso.idpermisos}}" ng-model="permiso.checked" ng-change="seleccionados()">
                                        <label for="checkbox{{permiso.idpermisos}}">
                                            {{permiso.descripcion}}
                                        </label>
                                    </div>  
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox clip-check check-primary" ng-repeat="permiso in permisos" ng-if="$index % 3 === 1">
                                        <input type="checkbox" id="checkbox{{permiso.idpermisos}}" checked ng-model="permiso.checked" ng-change="seleccionados()"> 
                                        <label for="checkbox{{permiso.idpermisos}}">
                                            {{permiso.descripcion}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox clip-check check-primary" ng-repeat="permiso in permisos" ng-if="$index % 3 === 2">
                                        <input type="checkbox" id="checkbox{{permiso.idpermisos}}" ng-model="permiso.checked" ng-change="seleccionados()">
                                        <label for="checkbox{{permiso.idpermisos}}">
                                            {{permiso.descripcion}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button class="btn btn-o btn-primary" type="submit">
                    Editar Rol
                </button>   
                <button type="button" class="btn btn-primary btn-o" ng-click="form.reset(Form2)">
                    Resetear
                </button>
            </form>
        </div>
    </div>
</div>
<!-- end: FIELDSET -->

