<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.aulas.CREAR">CREAR AULAS</h1>
            <span class="mainDescription">Formulario para crear Aulas.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="crearAulaCtrl2">
            <form name="Form2" novalidate ng-submit="form.submit(Form2)">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Aulas
                            </legend>
                            <div class="form-group" ng-class="{'has-error':Form2.nombre.$dirty && Form2.nombre.$invalid, 'has-success':Form2.nombre.$valid}">
                                <label for="nombre" class="control-label">
                                    Nombre Aula <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Nombre Aula" id="nombre" name="nombre" class="form-control" ng-model="aula.nombre" required/>
                                <span class="error text-small block" ng-if="Form2.nombre.$dirty && Form2.nombre.$dirty && Form2.nombre.$invalid">El campo nombre es requerido</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form2.tipo.$dirty && Form2.tipo.$invalid, 'has-success':Form2.tipo.$valid}">
                                <label for="tipo">
                                    Tipo Aula <span class="symbol required"></span>
                                </label>
                                <select id="tipo" name="tipo" class="form-control" ng-model="aula.tipo" required>
                                    <option value="">&nbsp;</option>
                                    <option value="Aula">Aula</option>
                                    <option value="Lab">Laboratorio</option>
                                    <option value="Aud">Auditorio</option>
                                    <option value="Aesp">Aula especializada</option>
                                </select>
                                <span class="error text-small block" ng-if="Form2.tipo.$dirty && Form2.tipo.$dirty && Form2.tipo.$invalid">El campo tipo aula es requerido</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form2.capacidad.$dirty && Form2.capacidad.$invalid, 'has-success':Form2.capacidad.$valid}">
                                <label for="capacidad">
                                    Capacidad (# Alumnos) <span class="symbol required"></span>
                                </label>
                                <input type="number" placeholder="Capacidad" id="capacidad" name="capacidad" class="form-control" ng-model="aula.capacidad" required/>
                                <span class="error text-small block" ng-if="Form2.capacidad.$dirty && Form2.capacidad.$dirty && Form2.capacidad.$invalid">El campo capacidad es invalido</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error':Form2.estado.$dirty && Form2.estado.$invalid, 'has-success':Form2.estado.$valid}">
                                <label for="estado">
                                    Estado <span class="symbol required"></span>
                                </label>
                                <select id="estado"  name="estado" class="form-control" ng-model="aula.estado" required>
                                    <option value="">&nbsp;</option>
                                    <option value="Activa">Activa</option>
                                    <option value="ActivaNovedad">Activa con Novedad</option>
                                    <option value="Inactiva">Inactiva</option>
                                </select>
                                <span class="error text-small block" ng-if="Form2.estado.$dirty && Form2.estado.$dirty && Form2.estado.$invalid">El campo estado es requerido</span>  
                            </div>
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="capacidadAudiovisual" name="capacidadAudiovisual" ng-model="aula.capacidadAudiovisual">
                                <label for="capacidadAudiovisual">
                                    Capacidad Audiovisual
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Ubicación del aula
                            </legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error':Form2.edificio.$dirty && Form2.edificio.$invalid, 'has-success':Form2.edificio.$valid}">
                                        <label for="edificio">
                                            Edificio <span class="symbol required"></span>
                                        </label>
                                        <select id="edificio" name="edificio" class="form-control" ng-model="aula.edificio.idedificio" ng-options="edificio.idedificio as edificio.nombre for edificio in edificios"  required>
                                            <option value="">&nbsp;</option>
                                        </select>
                                        <span class="error text-small block" ng-if="Form2.edificio.$dirty && Form2.edificio.$dirty && Form2.edificio.$invalid">El campo edificio es requerido</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':Form2.piso.$dirty && Form2.piso.$invalid, 'has-success':Form2.piso.$valid}">
                                        <label for="piso">
                                            Piso <span class="symbol required"></span>
                                        </label>
                                        <select id="piso" class="form-control" ng-model="aula.piso" ng-options="val for val in pisosActuales">
                                            <option value="">&nbsp;</option>
                                        </select>
                                        <span class="error text-small block" ng-if="Form2.piso.$dirty && Form2.piso.$dirty && Form2.piso.$invalid">El campo piso es requerido</span>
                                    </div>
                                </div>
                        </fieldset>

                        <fieldset>
                            <legend>
                                Materiales
                            </legend>
                            <div class="form-group">
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="tablero" name="tablero" ng-model="aula.tablero">
                                    <label for="tablero">
                                        Tablero
                                    </label>
                                </div>
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="videoBeam"  name="videoBeam" ng-model="aula.videoBeam">
                                    <label for="videoBeam">
                                        Video Beam
                                    </label>
                                </div>
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="tv" name="tv" ng-model="aula.tv">
                                    <label for="tv">
                                        Tv
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button class="btn btn-o btn-primary" type="submit">
                    Crear Aula
                </button>   
                <button type="button" class="btn btn-primary btn-o" ng-click="form.reset(Form2)">
                    Resetear
                </button>
            </form>
        </div>
    </div>
</div>
<!-- end: FIELDSET -->
