<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.aulas.LISTAR">Lista de Aulas</h1>
            <span class="mainDescription">Lista todas las aulas registradas en el sistema.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'ngTableCtrl' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
            <div ng-controller="aulasCtrl">
                <p>
                    Mostrando registros del {{ tableParams.total() > 0 ? (tableParams.page() * tableParams.count()) - (tableParams.count()) + 1 : 0}} 
                    al {{(tableParams.page() * tableParams.count()) < tableParams.total() ? (tableParams.page() * tableParams.count()) : tableParams.total()}} 
                    de un total de {{tableParams.total()}}
                </p>
                <table ng-table="tableParams" class="table table-striped" show-filter="true">
                    <tr ng-repeat="aula in $data">
                        <td ng-switch="{{hasPermiso(17)}}" data-title="'Aula'" sortable="'nombre'" filter="{'nombre': 'text'}">
                            <a ng-switch-when="true" ui-sref="app.aulas.editar({idaula:'{{aula.idaula}}'})">{{aula.nombre}}</a>
                            <span ng-switch-when="false">{{aula.nombre}}</span>
                        </td>    
                        <td data-title="'Tipo'" sortable="'tipo'" filter="{'tipo': 'text'}">{{aula.tipo}}</td>
                        <td data-title="'Capacidad'" sortable="'capacidad'" filter="{'capacidad': 'text'}">{{aula.capacidad}}</td>
                        <td data-title="'Estado'" sortable="'estado'" filter="{'estado': 'text'}">
                            <span class="label label-sm" ng-class="aula.estado==='Activa' ? 'label-success' : aula.estado === 'Activa con Novedad' ? 'label-warning':'label-danger'">{{aula.estado}}</span>
                        </td>
                        <td data-title="'Edificio'" sortable="'edifaux'" filter="{'edifaux': 'text'}">{{aula.edifaux}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end: SIMPLE TABLE WITH PAGINATION -->

