<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" >BIENVENIDO</h1>

        </div>

    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <div class="logo" style="text-align: center;">
                        <img ng-src="{{app.layout.logoGrande}}" alt="{{app.name}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
