<!-- start: LOGIN -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo">
            <img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login" ng-controller="loginCtrl">
            <form name="formLogin" class="form-login" novalidate ng-submit="form.submit(formLogin)">
                <fieldset>
                    <legend>
                        Ingresa a tu cuenta
                    </legend>
                    <p>
                        Por favor ingresa tu usuario y contrase&nacute;a para acceder.
                    </p>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" name="username" placeholder="Usuario" ng-model="usuario.usuario" required>
                            <i class="fa fa-user"></i> </span>
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon">
                            <input type="password" class="form-control password" name="password" placeholder="Contrase&nacute;a" ng-model="usuario.password" required>
                            <i class="fa fa-lock"></i>
                            <a class="forgot" ui-sref="login.forgot">
                                Olvidé mi contrase&nacute;a
                            </a> </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">
                            Entrar <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
               {{app.year}} &copy; Derechos Reservados de la {{ app.author}}.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<!-- end: LOGIN -->
